 .container{border: 2px dashed black;
          height: 400px;
         display: flex;padding: 5px;
        
         }

 .box{height: 200px;
     width: 200px;
     border: 2px dotted red;
     font-size: 3rem;}

     #box-2{flex-grow: 1;}

     .main{width: 700px;height: 500px;border: dashed 3px;
          display: flex;justify-content: center;
        align-items: center;}
     .sub-main{width: 150px;height: 400px;border: dotted 5px red;
             background-color: rosybrown;}

     #sub-main{flex-grow: 1;}        

  